{% macro loop(page, level) %}
    {% for p in page.children %}
        {% if p.visible %}
            {% set current_page = (p.active or p.activeChild) ? 'active' : '' %}
            {% set visible_children = p.children.visible %}
            {% set has_children = (visible_children.count > 0) and (level < 2) %}
            <li class="{{ current_page }} nav-level-{{ level }}{% if has_children %} has-children{% endif %}">
                <div class="nav-item-row">
                    <a href="{{ p.url }}">
                        {% if p.header.icon %}<i class="fa fa-{{ p.header.icon }}"></i>{% endif %}
                        {{ p.menu }}
                    </a>
                    {% if has_children %}
                        <button class="submenu-toggle" type="button" aria-expanded="false" aria-label="展開 {{ p.menu }} 子選單">
                            <span class="submenu-caret" aria-hidden="true"></span>
                        </button>
                    {% endif %}
                </div>
                {% if has_children %}
                    <ul class="submenu level-{{ level + 1 }}">
                        {{ _self.loop(p, level + 1) }}
                    </ul>
                {% endif %}
            </li>
        {% endif %}
    {% endfor %}
{% endmacro %}

<ul class="navigation">
    {% if theme_config.dropdown.enabled %}
        {{ _self.loop(pages, 1) }}
    {% else %}
        {% for page in pages.children %}
            {% if page.visible %}
                {% set current_page = (page.active or page.activeChild) ? 'active' : '' %}
                <li class="{{ current_page }}">
                    <a href="{{ page.url }}">
                        {% if page.header.icon %}<i class="fa fa-{{ page.header.icon }}"></i>{% endif %}
                        {{ page.menu }}
                    </a>
                </li>
            {% endif %}
        {% endfor %}
    {% endif %}
    {% for mitem in site.menu %}
        <li>
            <a href="{{ mitem.url }}">
                {% if mitem.icon %}<i class="fa fa-{{ mitem.icon }}"></i>{% endif %}
                {{ mitem.text }}
            </a>
        </li>
    {% endfor %}
</ul>           
